@import './reset.scss';
@import "./swiper.scss";

.coopCentre {
    background: rgba(241, 243, 247, 1);
    color: rgba(91, 94, 95, 1);

    .tl {
        text-align: center;
        font-size: 30px;
        padding: 100px 0 80px;
    }

    .list {
        width: 960px;
        margin: 0 auto;
        overflow: auto;

        li {
            float: left;
            margin: 0 40px 40px 0;
            width: 460px;
            height: 260px;

            &:nth-child(2n) {
                margin-right: 0
            }

            .had {
                height: 100px;
                color: #FDFDFD;
                padding: 21px 0 0 40px;
                box-sizing: border-box;
                position: relative;

                .tit {
                    font-size: 26px;
                    font-weight: 500;
                }

                .egh {
                    font-size: 18px;
                    font-weight: 400;
                    color: rgba(253, 253, 253, .5);
                    text-transform: uppercase;
                }

                .icon {
                    background: url(../images/cooperation/icon-1.png) bottom right no-repeat;
                    background-size: 85px;
                    position: absolute;
                    width: 103px;
                    height: 82px;
                    bottom: 0;
                    right: 10px;
                }
            }

            .listC {
                background-color: #fff;
                height: 160px;
                padding: 25px 40px;
                box-sizing: border-box;
                font-size: 14px;
                line-height: 28px;
            }

            .had_1 {
                background: linear-gradient(270deg, rgba(86, 164, 255, 1) 0%, rgba(57, 154, 255, 1) 100%);

                .icon {
                    background-image: url(../images/cooperation/icon-1.png)
                }
            }

            .had_2 {
                background: linear-gradient(90deg, rgba(36, 203, 141, 1) 0%, rgba(52, 230, 164, 1) 100%);

                .icon {
                    background-image: url(../images/cooperation/icon-2.png)
                }
            }

            .had_3 {
                background: linear-gradient(90deg, rgba(129, 100, 251, 1) 0%, rgba(147, 121, 255, 1) 100%);

                .icon {
                    background-image: url(../images/cooperation/icon-3.png)
                }
            }

            .had_4 {
                background: linear-gradient(270deg, rgba(198, 209, 224, 1) 0%, rgba(160, 178, 200, 1) 100%);

                .icon {
                    background-image: url(../images/cooperation/icon-4.png)
                }
            }
        }
    }
}

.pageBanner {
    text-align: center;
    background: url(../images/cooperation/bg.jpg) center center no-repeat;
    background-size: 100%;

    .bannerConten {
        text-align: center;

        .bc_left {
            flex: 1
        }

    }
}

.copH2 {
    color: #fff;
    text-align: center;

    .lr {
        display: inline-block;
        width: 200px;
        padding-top: 10px;
        position: relative;

        &:first-child {
            &::after {
                content: '';
                width: 1px;
                background-color: rgba(255, 255, 255, .6);
                height: 65px;
                position: absolute;
                right: 0;
                top: 25px;
            }
        }

        .t {
            font-size: 35px;
            display: block;
        }

        .p {
            font-size: 18px;
            letter-spacing: 2px;
            padding-top: 10px;
            display: block;
        }
    }
}

.bc_p {
    opacity: .6;
    padding-top: 20px;
}

.but a {
    text-align: left;
}

.experBtn {
    width: 250px;
}