@import './reset.scss';

.detailContent {
    width: 790px;
    margin: 80px auto 90px;

    .title {
        font-size: 50px;
        font-family: PingFangSC-Medium,
            PingFangSC;
        font-weight: 500;
        color: rgba(56, 56, 56, 1);
        line-height: 70px;
        margin-bottom: 40px;
    }

    .p_1 {
        font-size: 16px;
        font-family: PingFangSC-Regular,
            PingFangSC;
        font-weight: 400;
        color: rgba(128, 128, 128, 1);
        line-height: 30px;
        margin-bottom: 30px;
    }

    .fot {
        display: flex;
        margin-bottom: 90px;
        font-size: 14px;
        font-family: PingFangSC-Regular,
            PingFangSC;
        font-weight: 400;
        color: rgba(170, 170, 170, 1);

        .time {
            flex: 1;
            text-align: right;
        }
    }
}