html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei", Heiti;
  font-size: 100%;
  font-weight: 300;
  box-sizing: border-box;
}

html,
body {
  color: #333;
}

body {
  background: #fff;
  overflow-x: hidden;
}

ul,
ol,
li {
  list-style: none;
}

a:link,
a:visited {
  // color: #646464;
  text-decoration: none;
}

a:hover {
  color: #12b7f5;
}

.aAfter {
  background-color: #12b7f5;
  content: "";
  display: block;
  height: 3px;
  width: 70%;
  position: absolute;
  bottom: 25px;
  left: 15%;
}

img {
  border: none;
}

em {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

.clearfloat:after {
  content: ".";
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfloat {
  zoom: 1;
}

.centerWidth {
  width: 1200px;
}

.width_1028 {
  width: 1028px;
  margin: 0 auto
}

.margin-0-auot {
  margin: 0 auto;
}

.width100 {
  width: 100%;
  overflow: auto
}

.width960 {
  width: 960px;
  margin: 0 auto;
}

.bg_fff {
  background-color: #fff;
}

.bg_f1 {
  background-color: #F8F9FB
}

// 头部
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 114px;
  z-index: 10;
}

.header-inner {
  max-width: 1122px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

#resourceList {
  width: 116px;
  height: 177px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 15px 0px rgba(95, 122, 140, 0.3);
  border-radius: 8px;
  position: absolute;
  top: 60px;
  z-index: 11;
  left: -26px;
  display: none;
  padding-top: 25px;
  box-sizing: border-box;

  a {
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(110, 130, 153, 1);
    display: block;
    text-align: center;
    margin-bottom: 34px;

    &:last-child {
      margin-bottom: 31px;
    }
  }
}

#productNavList {
  position: absolute;
  width: 230px;
  height: 357px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 15px 0px rgba(95, 122, 140, 0.3);
  border-radius: 8px;
  display: none;
  top: 60px;
  z-index: 11;
  left: -26px;

  .h {
    width: 170px;
    height: 1px;
    background: rgba(216, 216, 216, 1);
    margin: 28px auto 0;
    display: block;
  }

  a {
    display: block;
    font-size: 14px;
    padding: 20px 0 0 30px;
    height: 30px;
    line-height: 30px;

    .navImg {
      padding-right: 10px;

      img {
        width: 22px;
        height: 22px;
        position: relative;
        top: 5px;
      }
    }
  }
}


.header-top {
  height: 44px;
  background: #1f2126;
  color: #999999;
  font-size: 14px;

  .left {
    display: flex;
    align-items: center;

    span {
      margin-top: 2px;
    }
  }

  img {
    width: 66px;
    height: 21px;
    font-size: 0;
    margin-right: 10px;
  }

  .right span:last-child {
    color: #f7b300;
  }
}

.header-main {
  width: 100%;
  height: 70px;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  // padding: 0 85px;
  box-sizing: border-box;
  // overflow: auto
}

.logo {
  height: 70px;
  overflow: hidden;
  float: left;
}

.logoImg {
  width: 111px;
  height: 42px;
  margin: 14px 0;
  background: url(../images/logo.png) no-repeat;
  background-size: 100% 100%;
  display: inline-block;
}

.logoList {
  line-height: 70px;
  overflow: hidden;
  display: inline-block;
  margin-left: 20px;
}

.logoList li {
  float: left;
}

.logoList li:nth-child(even) {
  margin: 0 2px;
}

.nav,
.nav-list {
  display: flex;
  align-items: center;
}

.nav-list li {
  height: 70px;
  padding-right: 62px;
  position: relative;

  &:last-child {
    margin-right: 62px;
  }
}

.nav-list a {
  height: 70px;
  line-height: 70px;
  display: inline-block;
  font-size: 16px;
  color: #333333;
  font-weight: 500;
}

.nav-list .active,
.nav-list a:hover {
  color: #008dd1;
}

.telephone {
  height: 70px;
  line-height: 70px;
  font-size: 24px;
  color: #0168b7;
}

.telIcon {
  width: 40px;
  height: 40px;
  background: url(../images/telIcon.png) no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  margin-bottom: -10px;
  margin-right: 10px;
}

.zn_person {
  align-self: flex-start;
  background: url("../images/indexPage/header-main-robot.png") no-repeat center center;
  width: 96px;
  height: 45px;
  margin-top: 8px;
  background-size: contain;
}

.zn_person:hover {
  background-image: url(../images/indexPage/robot_btnhover.png);
  // filter: brightness(80%);
}

.nav-right {
  float: right;
  font-family: PingFang-SC-Bold;
  font-size: 24px;
  color: #0168b7;
  letter-spacing: 0;
  text-align: center;
  padding-top: 20px;
}

#pageContent {
  padding-top: 114px;
}

// 页面头部banner
.pageBanner {
  width: 100%;
  height: 412px;
  background: url(../images/contract/bannerBg.png) center center no-repeat;
  background-size: 100% 100%;
}

.bannerBg2 {
  background: linear-gradient(135deg, rgba(0, 102, 204, 1) 0%, rgba(0, 153, 255, 1) 100%);

  .bannerConten {
    background: url(../images/banner-bg-2.png) center bottom no-repeat;
    background-size: 100% 100%;

    .bc_left {
      width: 100%;

      h3 {
        margin: 30px 0;
        text-align: center;
      }

      .bc_p {
        width: 540px;
        margin: 0 auto;
        color: rgba(255, 255, 255, .7);
      }

      .but {
        width: 180px;
        margin: 45px auto 0;
      }
    }
  }
}

.but {
  a {
    display: inline-block;
    width: 180px;
    height: 60px;
    background-color: #fff;
    color: #0095FB;
    font-size: 22px;
    box-shadow: 0px 3px 6px 0px rgba(121, 121, 121, 0.4);
    border-radius: 6px;
    line-height: 60px;
    padding-left: 30px;
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
      img {
        transform: translate(50%, 0);
        transition: 0.6s all ease-in-out;
      }
    }

    img {
      margin-left: 10px;
    }
  }
}

.bannerConten {
  display: flex;
  width: 990px;
  margin: 0 auto;
  align-items: center;
  height: 412px;

  .bc_left {
    width: 566px;
    height: 282px;

    h3 {
      height: 40px;
      font-size: 40px;
      font-family: PingFangSC-Light,
        PingFangSC;
      font-weight: 300;
      color: rgba(255, 255, 255, 1);
      line-height: 40px
    }

    .subTitle {
      height: 22px;
      font-size: 19px;
      font-family: PingFangSC-Thin,
        PingFangSC;
      font-weight: 100;
      color: rgba(255, 255, 255, .5);
      line-height: 22px;
      letter-spacing: 1px;
      margin: 10px 0 25px;
    }

    .bc_p {
      font-size: 14px;
      font-family: PingFangSC-Light,
        PingFangSC;
      font-weight: 300;
      color: rgba(255, 255, 255, 1);
      line-height: 28px;
      margin-bottom: 40px;
    }
  }
}

// footer
#pageFooter {
  width: 100%;
  height: 430px;
  background: #1b2433;

  .wrapper,
  .copyright {
    width: 1012px;
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .wrapper {
    height: 100%;

    .footmain {
      width: 100%;
    }

    .footerList {
      display: flex;
      margin-top: 60px;

      li:last-child {
        margin-left: 82px;
      }

      dl {
        width: 202px;
      }

      dt {
        color: #ffffff;
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 28px;
      }

      dd {
        font-size: 13px;
        line-height: 13px;
        color: #8D9299;

        &:not(:last-child) {
          margin-bottom: 18px;
        }

        &.tel {
          color: #0082E8;
          font-size: 16px;
          line-height: 16px;

          &:hover {
            color: #0082E8;
          }
        }

        &:hover {
          color: #ffffff;
          cursor: pointer;
        }

        img {
          width: 120px;
          height: 120px;
        }

        a:link,
        a:visited,
        a:active {
          color: #8D9299
        }

        a:hover {
          color: #fff
        }
      }
    }

    .partner-link {
      margin-top: 60px;
      font-size: 13px;
      line-height: 13px;
      color: #8D9299;

      a {
        color: #8D9299;
        margin-right: 16px;

        &:hover {
          color: #ffffff;
        }
      }
    }
  }

  .wrapper {
    height: 380px;
  }

  .footer-copyright {
    height: 50px;
    background: #17202D;
    color: #8D9299;
    font-size: 12px;

    p {
      width: 1012px;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

// 列表
.caseNewList {
  width: 1040px;
  margin: 40px auto 50px;
  overflow: auto;

  .list_1 {
    li {
      height: 290px;
    }
  }

  .newList {
    li {
      width: 330px;
      box-sizing: border-box;
      background: #fff;
      padding: 20px;
      margin: 0 25px 25px 0;

      float: left;

      a {
        display: block;
      }

      .tit {
        font-size: 16px;
        margin: 20px 0 10px;
        font-weight: 700;
      }

      .ct {
        font-size: 14px;
        font-weight: 300;
        text-overflow: ellipsis;
        // display: flex;
        -webkit-line-clamp: 2;
        /*第几行显示省略号*/
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;

      }

      &:nth-child(3n) {
        margin-right: 0;
      }

      &:hover {
        box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.05);
        transition: .3s all ease-in-out;
        transform: translateY(-5px)
      }
    }
  }
}

.padCT {
  padding: 30px 0 90px;
}

//悬浮
#suspended {
  position: fixed;
  bottom: 100px;
  right: 20px;

  li {
    margin-bottom: 4px;
    position: relative;
    width: 48px;
    height: 52px;

    &:hover {
      .listImg-1 {
        display: block
      }

      .listImg {
        display: none
      }
    }

    .ewm {
      position: absolute;
      right: 48px;
      bottom: 0;
      display: none;

      img {
        width: 130px;
        height: 122px;
      }
    }

    &.showEWM:hover .ewm,
    &.lineConsult:hover .consult,
    &.telCall:hover .tel {
      display: block
    }

    .consult,
    .tel {
      position: absolute;
      right: 50px;
      bottom: 3px;
      width: 128px;
      height: 48px;
      line-height: 48px;
      text-align: center;
      font-size: 18px;
      display: none;
    }

    .consult {
      img {
        width: 130px;
        height: 50px;
      }
    }

    .tel {
      width: 178px;

      img {
        width: 180px;
        height: 50px;
      }
    }

    .listImg,
    .listImg-1 {
      width: 48px;
      height: 48px;
    }

    .listImg-1 {
      display: none
    }

    &#return_top {
      cursor: pointer;
    }
  }
}