@import './reset.scss';
.bannerHead{
  background: transparent url('../images/sv_banner.jpg') center center no-repeat; 
  background-size: auto 100%;
  height: 718px;
  width: 100%;
}
.bannerTitle{
  background: transparent url('../images/sv_title.jpg') center center no-repeat; 
  width: 684px;
  height: 106px;
  margin: 130px auto 60px;
}
.box {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 534px;
  width: 1200px;
  margin: 0 auto 340px;
}
.box .bd {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1193px;
}
.box .largeIcon {
  width: 75px;
  height: 125px;
}
.box .wrap {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 23px;
  height: 128px;
}
.box .yuesao {
  margin-top: 46px;
  max-width: 107px;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  line-height: 28px;
  color: #008ff2;
  font-size: 28px;
  font-weight: 500;
  lines: 1;
  letter-spacing: 0;
}
.box .info {
  margin-top: 13px;
  max-width: 120px;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  letter-spacing: 0;
  color: #349fe9;
  font-size: 20px;
  font-weight: 500;
  lines: 1;
  line-height: 20px;
}
.box .pic {
  margin-left: 237px;
  width: 80px;
  height: 124px;
}
.box .block {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 21px;
  height: 128px;
}
.box .parentingSao {
  margin-top: 47px;
  max-width: 133px;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  line-height: 28px;
  color: #008ff2;
  font-size: 28px;
  font-weight: 500;
  lines: 1;
  letter-spacing: 0;
}
.box .info_2 {
  margin-top: 12px;
  margin-left: 2px;
  max-width: 143px;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  letter-spacing: 0;
  color: #349fe9;
  font-size: 20px;
  font-weight: 500;
  lines: 1;
  line-height: 20px;
}
.box .largeIcon_2 {
  margin-top: 4px;
  margin-left: 219px;
  width: 70px;
  height: 120px;
}
.box .group {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 22px;
  height: 128px;
}
.box .nurse {
  margin-top: 67px;
  max-width: 146px;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  line-height: 28px;
  color: #008ff2;
  font-size: 28px;
  font-weight: 500;
  lines: 1;
  letter-spacing: 0;
}
.box .info_3 {
  margin-top: 13px;
  max-width: 147px;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  letter-spacing: 0;
  color: #349fe9;
  font-size: 20px;
  font-weight: 500;
  lines: 1;
  line-height: 20px;
}
.box .main {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 73px;
  width: 1193px;
}
.box .largeIcon_3 {
  width: 70px;
  height: 126px;
}
.box .container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 22px;
  height: 136px;
}
.box .postpartumRehabilitation {
  margin-top: 54px;
  margin-left: 2px;
  max-width: 149px;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  letter-spacing: 0;
  color: #008ff2;
  font-size: 28px;
  font-weight: 500;
  lines: 1;
  line-height: 28px;
}
.box .info_4 {
  margin-top: 13px;
  max-width: 163px;
  overflow: hidden;
  text-align: left;
  text-decoration: none;
  text-overflow: ellipsis;
  letter-spacing: 0;
  color: #349fe9;
  font-size: 20px;
  font-weight: 500;
  lines: 1;
  line-height: 20px;
}
.box .largeIcon_4 {
  margin-left: 197px;
  width: 78px;
  height: 126px;
}
.box .outer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 20px;
  height: 136px;
}
.box .nanny {
  margin-top: 55px;
  max-width: 174px;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  line-height: 28px;
  color: #008ff2;
  font-size: 28px;
  font-weight: 500;
  lines: 1;
  letter-spacing: 0;
}
.box .info_5 {
  margin-top: 12px;
  margin-left: 4px;
  max-width: 182px;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  letter-spacing: 0;
  color: #349fe9;
  font-size: 20px;
  font-weight: 500;
  lines: 1;
  line-height: 20px;
}
.box .img {
  margin-top: 1px;
  margin-left: 165px;
  width: 84px;
  height: 124px;
}
.box .wrap_2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 23px;
  height: 136px;
}
.box .cleaning {
  margin-top: 75px;
  max-width: 146px;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  line-height: 28px;
  color: #008ff2;
  font-size: 28px;
  font-weight: 500;
  lines: 1;
  letter-spacing: 0;
}
.box .info_6 {
  margin-top: 13px;
  max-width: 159px;
  overflow: hidden;
  text-align: left;
  text-decoration: none;
  text-overflow: ellipsis;
  letter-spacing: 0;
  color: #349fe9;
  font-size: 20px;
  font-weight: 500;
  lines: 1;
  line-height: 20px;
}
.box .ft {
  display: flex;
  flex-direction: row;
  margin-top: 71px;
}
.box .smallItem {
  margin-top: 20px;
  width: 97px;
  height: 97px;
}
.box .block_2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 22px;
  height: 126px;
}
.box .hourlyWorkers {
  margin-top: 48px;
  margin-left: 2px;
  max-width: 169px;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  letter-spacing: 0;
  color: #008ff2;
  font-size: 28px;
  font-weight: 500;
  lines: 1;
  line-height: 28px;
}
.box .info_7 {
  margin-top: 29px;
  max-width: 183px;
  overflow: hidden;
  text-align: left;
  text-decoration: none;
  text-overflow: ellipsis;
  letter-spacing: 0;
  color: #349fe9;
  font-size: 20px;
  font-weight: 500;
  lines: 1;
  line-height: 20px;
}
.box .smallPic {
  margin-left: 122px;
  width: 133px;
  height: 126px;
}
.box .group_2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 21px;
  height: 126px;
}
.box .escort {
  margin-top: 49px;
  max-width: 603px;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  line-height: 28px;
  color: #008ff2;
  font-size: 28px;
  font-weight: 500;
  lines: 1;
  letter-spacing: 0;
}
.box .desc {
  margin-top: 28px;
  max-width: 602px;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  letter-spacing: 0;
  color: #349fe9;
  font-size: 20px;
  font-weight: 500;
  lines: 1;
  line-height: 20px;
}