.dataListLint-2 {
    li {
        .liImg {
            width: 1.44rem;
            height: 1.44rem;
        }
    }
}

.box_2 {
    .img_1 {
        width: 6.73rem;
        height: 3.66rem;
        display: block;
        margin-top: .6rem
    }
}

.bannerBox .but {
    position: static;
    margin-left: 0;
}

.bannerImg {
    width: 5.21rem;
    height: 4rem;
}