@import './reset.scss';

body {
    -webkit-overflow-scrolling: touch;
}

.navList {
    height: 1rem;
    width: 100%;
    position: relative;
    z-index: 11
}

.navFixed {
    padding: 0 .3rem;
    display: flex;
    border-bottom: 1px solid #DDDDDD;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: .3rem;
    color: #6C7680;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;

    p {
        flex: 1;

        span.activet {
            color: #0095FB;
            border-bottom: .04rem solid #0095FB;
            display: inline-block;
        }
    }
}

.caseList {
    overflow: auto;
    padding: .4rem .33rem;
    display: none;

    &.active {
        display: block;
    }

    li {
        float: left;
        width: 3.3rem;
        height: 3.6rem;
        background-color: #fff;
        padding: .2rem;
        box-sizing: border-box;
        font-size: .24rem;
        margin: 0 .24rem .24rem 0;

        &:nth-child(2n) {
            margin-right: 0;
        }

        .listImg {
            width: 2.9rem;
            height: 1.6rem;
        }

        .listTitle {
            font-weight: 400;
            color: #000;
            margin: .18rem 0;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            overflow: hidden;
            -webkit-box-orient: vertical;
            word-break: break-all;
            min-height: .66rem;
            line-height: .33rem;
        }

        .listContent {
            color: #999;
            margin-bottom: .34rem;
        }

        .dow {
            width: 2.8rem;
            height: .6rem;
            background: #fff;
            border-radius: .05rem;
            border: 1px solid rgba(89, 164, 255, 1);
            line-height: .6rem;
            text-align: center;
            font-size: .24rem;
            display: block;
            position: relative;

            .gotoApply {
                position: absolute;
                z-index: 1;
                width: 100%;
                height: 100%;
                background-color: transparent;
            }

            a {
                display: block;
                color: #0086EC;
            }
        }
    }

    &#reportWrap {
        li {
            height: 4.6rem;
        }
    }
}

.bg_f1 {
    position: relative;
}

#loding {
    background: url(../images/resourceCenter/loading.gif) center center no-repeat;
    background-size: 1rem 1rem;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 11;
    top: 1.5rem;
    left: 0;
}

#listScroll {
    min-height: 2rem;
}