@import './reset.scss';

.robot .robot-header {
    padding: 0 25*.02rem 0;
    height: 364*.02rem;
    text-align: center;
    background: url(../images/robot/robotbanner.png) no-repeat center;
    background-size: contain;
}

.robot .robot-header .h2 {
    margin: 6*.02rem auto 0;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    font-size: 20*.02rem;
    color: #FFFFFF;
    text-align: center;
}

.robot .robot-header .h2:first-of-type {
    margin-top: 0;
}

.robot .robot-header .h3 {
    margin-top: 33.5*.02rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    font-size: 12*.02rem;
    color: #FFFFFF;
}

.robot .robot-header span {
    display: block;
    margin: 38*.02rem auto 0;
    width: 207*.02rem;
    height: 104*.02rem;
    background: url(../images/robot/robot1.png) no-repeat center;
    background-size: cover;
}

.robotList {
    overflow: hidden;
}

.robot .robot-content .robotList ul {
    margin-top: 30*.02rem;
}

.roboth2 {
    font-size: 20*.02rem;
    text-align: center;
    font-weight: 400;
    width: 100%;
    color: #47494A;
}

.robotList ul li {
    float: left;
    margin: 15*.02rem 10*.02rem;
    text-align: center;
}

.robotList ul li p {
    width: 110*.02rem;
    margin: 0*.02rem auto;
}

.robotList ul .list_one {
    background: url(../images/robot/robot2.png) no-repeat;
    background-size: cover;
    width: 136*.02rem;
    height: 136*.02rem;
}

.robotList ul li h3 {
    font-size: 16*.02rem;
    line-height: 1.4;
    margin-top: 30*.02rem;
    margin-bottom: 10*.02rem;
}

.robotList ul li p {
    font-size: 13*.02rem;
    line-height: 1.4;
}

.robotList ul .list_one p {
    width: 100*.02rem;
}

.robotList ul .list_two {
    background: url(../images/robot/robot3.png) no-repeat;
    background-size: cover;
    width: 136*.02rem;
    height: 136*.02rem;
}

.robotList ul .list_thr {
    background: url(../images/robot/robot4.png) no-repeat;
    background-size: cover;
    width: 136*.02rem;
    height: 136*.02rem;
}

.robotList ul .list_four {
    background: url(../images/robot/robot5.png) no-repeat;
    background-size: cover;
    width: 136*.02rem;
    height: 136*.02rem;
}

.robotList ul .list_four p {
    width: 120*.02rem;
}

.robot .robot-content {
    padding: 60*.02rem 25*.02rem 0*.02rem;
}

.robot .robot-content.robot-content_color-bg {
    background: #F1F3F7;
}

.robot .robot-content .h3 {
    margin-top: 60*.02rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    font-size: 17.5*.02rem;
    color: #5B5E5F;
}

.robot .robot-content ul {
    margin-top: 13*.02rem;
    font-family: PingFangSC-Regular;
    font-size: 12*.02rem;
    overflow: hidden;
    color: #333333;
}

.robot .robot-content .robot-content-pic {
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.robot .robot-content .robot-content-pic_2 {
    width: 214*.02rem;
    height: 102.5*.02rem;
    background-image: url(../images/robot/robot6.png);
}

.robot .robot-content .robot-content-pic_3 {
    width: 171*.02rem;
    height: 169.5*.02rem;
    background-image: url(../images/robot/robot7.png);
}

.robot .robot-content .robot-content-pic_4 {
    width: 206.5*.02rem;
    height: 135.5*.02rem;
    background-image: url(../images/robot/robot8.png);
}

.robot .robot-content .robot-content-pic_5 {
    width: 203*.02rem;
    height: 163.5*.02rem;
    background-image: url(../images/robot/robot9.png);
}

.margintp20 {
    margin-top: 20*.02rem;
}

.robot .paddingtp0 {
    padding-top: 10*.02rem;
}

.robot .paddingbt60 {
    padding-bottom: 60*.02rem;
}

.margintp40 {
    margin-top: 40*.02rem;
}

.robot .robot-content .margintp35 {
    margin-top: 35*.02rem;
}

.robot .paddingtp30 {
    padding-top: 30*.02rem;
}

.robot-content ul li span {
    color: #ff8722;
}